@charset "utf-8";
@import "common.css";
@import "reset.css";

#company_section .company_bg {
    background-image: url(../images/com_img_1.jpg);
    background-size:cover;
    width:100%; 
}
.company_bg { padding:302px 0}
.company_bg .new_item { width:30%; float:left;}
.company_bg .new_item h3 {
    font-size:52px;
    color:#0d50aa;
    font-weight:bold;
    line-height:1.2;
    letter-spacing:-1.7px; 
}
.company_bg .new_wrap {padding-left:50px}
.company_bg .new_wrap > div { width:70%; float:right; color:#fff;}
.company_bg .new_wrap h4 {
    font-size:18px;
    font-weight:bold;
    padding-bottom:10px;
}
.company_bg .new_wrap p {
    font-size:17px;
}
.company_bg .new_wrap ul li { position: relative; float:left;
     width:40%;  padding-left:50px; margin-bottom:60px; margin-right:70px }
.company_bg .new_wrap ul li:nth-child(3) { clear: both;}
.company_bg .new_wrap ul li:before { position: absolute; top:5px; left:0;

}
.company_bg .new_wrap ul li:nth-child(1):before { content:'\f069';
    font-family:'Font Awesome 5 Free'; font-weight:900; color:#ccc;
    font-size:25px; 
}
.company_bg .new_wrap ul li:nth-child(2):before { content:'\f01c';
    font-family:'Font Awesome 5 Free'; font-weight:900; color:#ccc;
    font-size:25px;
}
.company_bg .new_wrap ul li:nth-child(3):before { content:'\f121';
    font-family:'Font Awesome 5 Free'; font-weight:900; color:#ccc;
    font-size:25px;
}
.company_bg .new_wrap ul li:nth-child(4):before { content:'\f1ec';
    font-family:'Font Awesome 5 Free'; font-weight:900; color:#ccc;
    font-size:25px;
}

.webdizWrap .webdiz_text {padding:150px 0; width:100%; line-height:1.6;}
.webdizWrap .webdiz_text div {width:28.33%; margin:0 2.5%}
.webdiz_text .webdiz { float:left;}
.webdiz_text .mission { float:left;}
.webdiz_text .sv { float:right;}
.webdiz_text h2 { font-size:18px;
    color:#0d50aa; font-weight:bold;
    padding-bottom:20px;
}
.webdiz_text h3 { font-size:36px; color:#333;
    padding-bottom:30px;
    letter-spacing:-3px;
}
.webdiz_text h4 { font-size:20px; color:#333;
    padding-bottom:15px
}
.webdiz_text p,
.webdiz_text ul li { font-size:15px; color:#777;
    padding-bottom:25px;
    position: relative;
}
.webdiz_text ul li:before { content:'\f00c'; font-family:'Font Awesome 5 Free'; font-weight:900;
    position: absolute; top:0;left:-8%
}

.text_titleWrap { background:#0d50aa; width:100% }
.text_titlebg { background:url(../images/com_img_2.jpg) no-repeat;
    background-position:right 0;
    background-size: 700px 700px;
    padding:200px 0;
}
.text_title h4 { color:#fff; font-size:20px;
    font-weight:bold; padding-bottom:10px;
}
.text_title h5 { color:rgba(255,255,255,0.6);
    font-size:16px; 
    font-weight:bold;
    padding-bottom:30px;
}
.text_title p { color:#fff; font-size:24px;
    line-height:1.6;
    width:60%
}
.logo {
    padding:60px 0; width:100%
}
.logo ul li { display:inline-block; width:16%;
   
}
.logo ul li a { 
    background:#f4f4f4;
    padding:10px 60px;
    margin:0 24px;
    opacity:0.5;
    transition:all 0.5s;
}
.logo ul li:hover a { opacity:1; background: #fafade }
/* .logo ul li a { display:block;} */

.img_list .bg_bk div { float:left; width:33.33%}
.img_list .bg_bk img {width:100%}
.img_list .bg_bk { background:#222;}
.img_list .bk_text { position: absolute; top:50%; right:50%;
transform:translate(-50%,-50%)}

/* ,.img_list .bg_blue {position: relative;} */
.img_list .bg_blue img { width:100% }
.img_list .bg_blue div:first-child { width:33.33%;
    position: relative; top:0; left:0;
}
.img_list .bg_blue div:last-child { width: 33.33%; float:right;}






