@charset "utf-8";
@import "common.css";
@import "reset.css";


#join_section .joinbg {
    background-image: url(../images/main_visual_1.jpg);
    background-size:cover;
    width:100%;
    padding:150px 0 280px;
}
#join_form { width:80%; margin:0 auto; position: relative;}
.join_box .pilsoo {
    padding-left:5px;
    padding-bottom:25px;
    border-bottom:1px solid #fff;
    font-size:15px;
    color:#fff;
    font-weight:bold;
}
.join_box .pilsoo_item { position: relative;}
.join_box .pilsoo_item:before {
    content:'*'; position: absolute; top:2px; left:-11px;
}
.join_box h2 {
    font-size:35px;
    font-weight:bold;
    color:#fff;
    text-align:center;
    padding-bottom:30px;
}

.join_box .info_list label {
    font-size:15px;
    font-weight:bold;
    color:#fff;
    display:inline-block;
    width:20%
}
.join_box .info_content { display:inline-block; width:70%;
    margin:10px 0;
}
.join_box .info_content .w10p { width:10%; }
.join_box .info_content .w25p { width:25%; }
.join_box .info_content .birthwrap > input { vertical-align:top;}
.join_box select { border:none;
    padding:10px 0;
    border-radius:20px;
    text-indent:1.2em;
}
.join_box .info_list { margin-top:40px; }
.join_box .info_list input { 
    padding:10px 0;
    width:80%;
    border-radius:20px;
    text-indent:1.2em;
}
.join_box button {
    width:25%;
    border-radius:20px;
    padding:15px 0;
    margin-top:80px;
    background:#039fea;
    color:#fff;
    font-size:13px;
    font-weight:bold;
    position: absolute;
    top:100%; left:50%;
    transform:translateX(-50%);
    transition:all 0.5s;
}
.join_box button:hover {
    background:#fff;
    color:#039fea;
    
}
